<!DOCTYPE html>
<html ng-app="arcgov">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/stylesheets/app.css"/>
    <script type="text/javascript" src="/libraries/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/libraries/angular.js"></script>
    <script type="text/javascript" src="/libraries/angular-route.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-md5/angular-md5.min.js"></script>

    <!--<script type="text/javascript" src="/build/arcgov.min.js"></script>-->

    <!--Controllers-->
    <script type="text/javascript" src="/controllers/ArcGovController.js"></script>
    <script type="text/javascript" src="/controllers/HomeController.js"></script>
    <script type="text/javascript" src="/controllers/CemeteriesController.js"></script>
    <script type="text/javascript" src="/controllers/CemeteryController.js"></script>
    <script type="text/javascript" src="/controllers/RegisterController.js"></script>
    <script type="text/javascript" src="/controllers/LoginController.js"></script>
    <title>arcgov</title>

    <!--Filters-->
    <script type="text/javascript" src="filters/filters.js"></script>

    <!--Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Ijilstg1ALi7zc5D463pLBV7hUCNPj4&sensor=false"></script>
</head>
<body ng-controller="MainController">
    <div class="mask"></div>
    <div class="site-header">
        <img src="/styles/resources/logo.png" ng-click="routeToMain()"/>
        <span class="authentication"><a href="" ng-click="routeToLogIn()">Log In</a>|<a href="" ng-click="routeToRegister()">Register</a></span>
    </div>
    <div ng-view></div>
</body>
</html>