@import "compass/css3/box-shadow";
.list {
  .toolbar {
    background: $gray;
    padding: .5rem;
    color: #FFF;
    text-transform: uppercase;

    div {
      &.button {
        &:hover {
          background: #FFF;
          color: $orange;
        }
      }

      &.search {
        float: right;
        padding: 0.5rem;
      }
    }
  }
  table {
    background: #FFF;
    border: 1px solid $gray;
    width: 100%;

    th {
      border-bottom: 2px solid $orange;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      padding: 1rem;
      background: #FFF;
      color: #888;
    }

    tr td {
      border-bottom: 1px solid $gray;
      padding: 1rem;
      border-collapse: collapse;
      cursor: pointer;
    }
    tr:nth-child(even) {
      background: #F5F5F5;
    }
    tr:last-child td {
      border-bottom: none;
    }
    tr:hover td {
      background: #F5E6CE;
    }
    tr.selected td {
      background: $orange;
      color: #FFF;
    }

  }
}