@import "compass/css3/box-shadow";

@import "site";
.result {

  .form-label {
    @extend .form-label;
    color: #333;
  }

  .field-result {
    display: inline-block;
  }
  .owner {
    display: inline-block;
    width: 15rem;
    background: #D1D1D1;
    padding: 1rem;
    margin: 1rem;
    border-radius: .2rem;
    color: #464646;

    &.selected, &:hover {
      background: #3D3D3D;
      color: #EEE;
    }
  }
}