$orange :  #DF9C2F;
$gray : #949698;

::selection {
  background: $orange;
}

html {
  height: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: inherit !important;
}
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: inherit !important;
  font-family: arial, helvetica, sans-serif !important;
  background: #EEE;
  color: $gray;
}

h1 {
  color: $orange;
  font-weight: normal;
}

h2 {
  display: inline-block;
}

.site-header {
  height: 10%;
  background: #FFF;
  border-bottom: 1px solid $orange;
  min-height: 100px;

  img {
    cursor: pointer;
  }

  .authentication {
    float: right;
    margin: 1rem;

    a {
      margin: 1rem;
      color: $orange;
      font-size: 1.2rem;

      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}
.page-name {
  background: #FFF;
  display: inline-block;
  padding: 1rem;
  margin: 2rem 0 0 2rem;
  border: 1px solid $gray
}

.form-label {
  display: inline-block;
  padding: 1.5rem 1rem .5rem .5rem;
  width: 1rem;
}

fieldset {
  border: {
    left: 0;
    right: 0;
    bottom: 0;
  };
}
input {
  margin-left: 2rem;
  border: 1px solid #888;
  border-radius: .3rem;
  height: 1.2rem;
  padding-left: .3rem;
}
select {
  margin-left: 2rem;
  border: 1px solid #888;
  border-radius: .3rem;
  height: 1.4rem;
  background: #FFF;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: .9;
  background: $gray;
  display: none;
  z-index: 1;
}
.details {
  .header {
    background: $gray;
    color: #FFF;
    margin-bottom: .2rem;

    h2 {
      margin: .3rem 0 .3rem .5rem;
      font-weight: normal;
    }

    .buttons {
      display: inline-block;
      float: right;
      padding: .1rem .5rem;
    }
  }
  .form-field {
    padding-bottom: 1rem;

    label {
      width: 8rem;
      display: inline-block;
      vertical-align: top;
    }
    .value {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.form-field {
  margin: 1rem;

  label {
    width: 9rem;
    display: inline-block;
  }
}
.form-buttons {
  text-align: right;
  padding: 1rem;

  .submit {
    background: $orange;
    padding: .5rem;
    border: none;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .3rem;
  }
  .cancel {
    background: $gray;
    color: #FFF;
    padding: .5rem;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .3rem;
  }
}

.popup {
  background: #FFF;
  display: none;
  z-index: 94;
  position: absolute;
  top: 10%;
  left: 40%;
  padding: 1rem;
  border-radius: .3rem;

  h2 {
    display: inline-block;
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid orange;
    width: 100%;
  }

}
.body {
  padding: 2rem;
}
.main {
  background: #FFF;
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $gray;
}
input.ng-invalid {
  background: #E2A791;
}
