@import "buttons";
@import "address";
@import "forms";
@import "summaries";
@import "site";
@import "list";

html {
  height: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: inherit !important;
}
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: inherit !important;
  font-family: arial, helvetica, sans-serif !important;
  background: #EEE;
  color: $gray;
}

h1 {
  color: $orange;
}

